.profile {
    margin-left: 14px;
    margin-right: 14px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 74px 100px minmax(100px, 1fr) 85px;
}
.profile__title {
    margin: 0;
    margin-top: 70px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    text-align: center;
}
.profile__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 63px;
    min-width: 260px;
}
.profile__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}
.profile__input-container:last-child {
    border-bottom: none;
}
.profile__input-text, .profile__input-discription {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    border: none;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 17px;

}
.profile__input-text_name {
    text-align: right;
}
.profile__input-text_email {
    text-align: right;
}
.profile__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile__btn {
    border: none;
    background: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 16px;
}
.profile__signout-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: #EE3465; 
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .profile {
        margin-left: 30px;
        margin-right: 30px;
        grid-template-rows: 74px 275px minmax(100px, 1fr) 317px;
    }
    .profile__title {
        margin-top: 236px;
    }
    .profile__form {
        margin-top: 79px;
        min-width: 410px;
    }
    .profile__btn {
        font-size: 13px;
        line-height: 1.23;
    }
    .profile__signout-link {
        font-size: 13px;
        line-height: 1.23;
    }
}

@media screen and (min-width: 1280px) {
    .profile {
        margin-left: 70px;
        margin-right: 70px;
        grid-template-rows: 74px 103px minmax(100px, 1fr) 118px;
    
    }
    .profile__title {
        margin-top: 74px;
    }
    .profile__form {
        margin-top: 107px;
    }
}