.header__invisible {
    display: none;
}
.header {
    min-height: 74px;
    background-color: #5C5C5C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_white {
    background-color: #FFFFFF;
}

.header__burger-container {
    width: 40px;
    height: 43px;
    padding: 0;
    background-color:#FFFFFF;
    position: relative;
    border: none;
    transition: 0.5s;
}
.header__burger-icon,
.header__burger-icon::before,
.header__burger-icon::after {
    position: absolute;
    width: 22px;
    height: 2.5px;
    background-color: #000000;
    top: 20.25px;
    left: 9px;
}
.header__burger-icon::after,
.header__burger-icon::before {
    content: '';
}
.header__burger-icon::before {
    transform: translate(-9px, -29.25px);
}
.header__burger-icon::after {
    transform: translate(-9px, -11.25px);
}
.header__burger-icon_active {
   border: 1px red solid;

}
.header__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.6;
    margin-right: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__button {
    border: none;
    padding: 0;
    min-width: 54px;
    min-height: 26px;
    background-color: #2BE080;
    border-radius: 3px;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.6;
}
.header__invisible-button, .header__ivisible-burger {
    display: none;
}

@media screen and (min-width: 768px) {
    .header__burger-container {
        width: 44px;
        height: 44px;
    }
    .header__burger-icon,
    .header__burger-icon::before,
    .header__burger-icon::after {
        width: 28px;
        height: 3px;
    }
    .header__link {
        margin-right: 30px;
        font-size: 12px;
    }
    .header__button {
        font-size: 12px;
    }
}


.header__menu-body {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 144px; 
    left: -100%;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: white;
    display: none;
}
.header__menu-body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 72px;
    background-color: white;
    z-index: 2;
}
.header__menu-body._active {
    left: 0;
    display: flex;
    flex-direction: column;
}
.header__menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;
    /* margin-right: 21px; */
}
.header__menu-icon span,
.header__menu-icon::before,
.header__menu-icon::after {
	left: 0;
	position: absolute;
	height: 2.5px;
	width: 100%;
	transition: all 0.3s easy 0s;
	background-color: black;
}
.header__menu-icon::before,
.header__menu-icon::after {
	content: "";
}
.header__menu-icon::before {
    top: 0;
}
.header__menu-icon::after {
    bottom: 0;
}
.header__menu-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}
.header__menu-icon._active span {
    transform: scale(0) translate(0px, -50%);
}
.header__menu-icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
}
.header__menu-icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
}
.header__menu-list {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .header{
      display: flex;
    }
    .header__burger-container {
        display: none;
    }

    
    .header__menu {
        
        justify-content: space-between;
        width: 50%;
        /* display: none; */
    }
    .header__menu-body {
        position: initial;
        left: 0;
        display: flex;
        top: 0;
    }
    .header__menu-body::before {
        z-index: -1;
    }
    .header__menu-list {
        display: flex;
        flex-direction: row;
    }
    .header__menu-icon {
        display: none;
    }
    .profile {
        height: 30px;
    }
    .header__menu-item-link_inv {
        display: none;
    }
}